@page
@model khalilWebApp.Pages.Categories.EditModel

<form method="post">
    <input hidden asp-for="Category.Id" />
    <div class="card border-0 mt-4">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Edit Category</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Category.Name"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.DisplayOrder"></label>
                <input asp-for="Category.DisplayOrder" class="form-control" />
                <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
            <a asp-page="Index" class="btn btn-secondary" style="width:150px;">Back to List</a>
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

